.bashrc

Downloads
snap
src

.bash_history
.bash_logout
.cache
.config
.gnupg
.mozilla
.oh-my-zsh
.profile
.sudo_as_admin_successful
.viminfo
.wget-hsts
.zcompdump*
.zsh*
.local
.vim
.gitconfig
.pki
.conda
.ipython
.jupyter
.keras
.python_history
.tmux.conf
Bluejean*
Desktop
Pictures
anaconda3*
miniconda3*

.landscape
.motd_shown
.dbus
.shell.*


