.bashrc
Screenshot*
*.png
work
.lesshst
.zoom
.docker
workspace
.theano
Downloads
snap
src
Anaconda*
.bash_history
.bash_logout
.cache
.config
.gnupg
.mozilla
.oh-my-zsh
.profile
.sudo_as_admin_successful
.viminfo*
.wget-hsts
.zcompdump*
.zsh*
.local
.gitconfig
.pki
.conda
.ipython
.jupyter
.keras
.python_history
Bluejean*
Desktop
Pictures
anaconda3*
miniconda3*
.git
.slime_paste
.vim/bundle/lightline.vim
.vim/bundle/nertree
.vim/bundle/tabular
.vim/bundle/vim-ipython-cell
.vim/bundle/vim-markdown
.vim/bundle/vim-signature
.vim/bundle/vim-slime
.vim/bundle/nerdtree
.vim/undodir
.vim/.net*
.ps


runner
.landscape
.motd_shown
.dbus
.shell.*
*.vimrc
Pycharm
conda
.bash*
.java
Documents
.FBReader
.gem
.tox
adobe.deb
Calibre*
.condarc
.ipynb_checkpoints*
.poetry
.vagrant.d
actions-runner
.pyenv
.aesara
.julia
VM
VirtualBox VMs
PycharmProjects
pycharm
.nv
.nvidia-settings-rc
