.bashrc

Downloads
snap
src

.bash_history
.bash_logout
.cache
.config
.gnupg
.mozilla
.oh-my-zsh
.profile
.sudo_as_admin_successful
.viminfo
.wget-hsts
.zcompdump*
.zsh*
.local
.vim
.gitconfig
.pki

.landscape
.motd_shown
.dbus
.shell.*


